.title-box{
    margin-top: 10px;
    padding-left: 15px;
    width : 80%;
    border: 2px solid rgb(195,195,195);
    border-radius: 10px 10px;
}

.history-table{
    margin-top: 30px;
    padding-left: 15px;
    width : 80%;
    border: 2px solid rgb(195,195,195);
    border-radius: 10px 10px;
}
table{
    width : 80%;
    font-size: 18px;
}