.div{
    background-color: rgb(141, 217, 250);
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 65px;
    width: 100%;    
}

.div1{
    background-color: rgb(226,226,226);
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    border : 2px grey;
    border-radius : 50px 20px;
    width: 100%;    
}

header {
    background-color: white; 
    color:white;
    width: 115px;
    border: 5px solid #ccc;
    border-radius: 10px 10px;
    padding:10px;
    outline-width: 5px;
    
}

body{
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
}

.nav-item{
    text-decoration: none;
    font-size: 24px;
    
}