.div{
    background-image: url(./images/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 75px;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 65px;
    width: 95%;    
}

.div1{
    background-color:rgb(15,23,42);
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    border : 2px grey;
    border-radius : 50px 20px;
    width: 45%;
    color : whitesmoke;
    opacity: 0.7;
}

header {
    background-color: white; 
    width: 135px;
    border: 2px solid rgb(195,195,195);
    border-radius: 10px 10px;
    padding:10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 15px;
    outline-width: 5px;
    
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.nav-item{
    text-decoration: none;
    font-size: 16px;
    font-style: initial;
}

.box-style{
    width : 250px;
    height : 30px;
    font-size : 16px;
    border: 1px solid lightblue;
    border-radius: 8px 8px;
}
.btn-style{
    width : 150px;
    height : 30px;
    font-size: 15px;
    border-radius: 15px 15px;
    background-color: rgb(3, 63, 3);
    color: whitesmoke;
}
input:focus, select:focus{
    box-shadow: 2px 2px 10px rgb(226, 213, 238);
    border-color: rgb(76, 56, 94);
}