.upcoming-title{
    width:100%;
    margin-top: 10px;
    padding-left: 10px;
    border: 2px solid rgb(195,195,195);
    border-radius: 10px 10px;
}

.upcoming-content{
    width:100%;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border: 2px solid rgb(195,195,195);
    border-radius: 10px 10px;
    font-size: 14px;
}